.faqContainer {
  width: 50%;
  margin: auto;
  padding: 20px;
}

.faqHeader {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.faqQuestions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 700;
}

.faqQuestion {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #2F6D57;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faqQuestionHeader {
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faqToggleIcon {
  font-size: 1.5rem;
  margin-left: 10px;
}

.faqAnswer {
  width: 75%;
  margin-top: 20px;
  font-size: 1rem;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
}

@media (max-width: 768px) {
  .faqContainer {
    padding: 10px;
  }

  .faqHeader {
    font-size: 1.8rem;
  }

  .faqQuestionHeader {
    font-size: 1.1rem;
  }

  .faqAnswer {
    font-size: 0.95rem;
  }
}
